<div class="jumbotron mt-3 text-center">
  <h1 class="display-4">Welcome</h1>
  <p class="lead">Jot down ideas for your next Youtube videos.</p>
  <a class="btn btn-primary btn-lg" href="/ideas/add" role="button">Add Video Idea</a>
</div>